* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bbd1ea;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  margin-top: 30px;
}

#input_area {
  background-color: white;
  width: 400px;
  text-align: center;
  padding: 150px 20px 5rem 20px;
  border-radius: 20px;
}

input {
  width: 80%;
  margin-top: 50px;
  padding: 10px;
  border-style: none none solid none;
}

button {
  background-color: #507dbc;
  color: white;
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: large;
  margin-top: 50px;
}
