* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(rgb(80, 125, 188), rgb(218, 227, 229));
}

header {
  margin-left: 80px;
  margin-top: 46px;
}

img {
  width: 320px;
}

p {
  margin-top: 8px;
  font-size: 18px;
}

main {
  text-align: center;
  align-items: center;
}

h2 {
  font-weight: 700;
  font-size: 35px;
  margin-top: 43px;
}

input {
  width: 440px;
  height: 55px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  margin-top: 20px;
  border: 1.414px solid #040507;
}

button {
  width: 450px;
  height: 55px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  background-color: #040507;
  color: white;
}

#google {
  background: none;
  color: rgb(4, 5, 7);
}
